@font-face {
    font-family: 'pixellarimedium';
    src: url('../font/main/pixellari-webfont.woff2') format('woff2'),
         url('../font/main/pixellari-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: 'pixellarimedium';
    color: white;
    image-rendering: pixelated;
}

body {
    background-color: black;
    cursor:url("../img/CursorArrow3.png"), auto;
}

