.faqQuestionBox {
    padding: 50px;
    background-color: rgb(19, 19, 19);
    text-align: center;
    font-size: 36px;
    margin: 40px;
    font-style: italic;
    border: 2px dotted white;
    user-select: none;
}

.faqQuestionBox:hover {
    background-color: rgb(67, 67, 67);
}

.faqAnswerBox {
    user-select: none;
    display: none;
    padding: 50px;
    background-color: rgb(74, 74, 74);
    text-align: left;
    font-size: 24px;
    margin: -40px 40px 40px 40px;
    border: 2px dotted white;
}

.faqAnswerBox span {
    color: white;
}

.faqDivider {
    margin: 80px 40px -10px 40px;
    text-align: center;
}

.faqDivider span {
    background-color: black;
    
}